.about-wrapper {
    padding: 2.5rem;
}

.subtext {
    width: fit-content;
    margin-bottom: 1rem;
    position: relative;
    left: 4rem;
    font-size: 20px;
    font-weight: bold;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    width: 50vw;
    position: relative;
    left: 10vw;
    border: 1px solid black;
}

.img-wrapper-content{
    padding: 1rem;
}

.img-wrapper-content p {
    margin: 1rem 0;
}

.articles {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(1, minmax(10px, 150px));
    grid-gap: 15px;
}

.card-articles {
    padding: 1rem 0;
}



/* Large Tablet */
@media (min-width: 801px) and (max-width: 1024px) {

}

/* Tablet */
@media (min-width: 416px) and (max-width: 800px) {
    .about-wrapper {
        padding: 0;
        margin-top: 2rem;
    }
    
    .subtext {
        font-size: 16px;
    }
    
    .img-wrapper {
        width: 60vw;
    }
    
    .img-wrapper-content{
        padding: 1rem;
    }
    
    .articles {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    .card-articles {
        padding: 1rem 0;
    }
}

/* Mobile */
@media (min-width: 200px) and (max-width: 415px) {
    .about-wrapper {
        padding: 0;
        margin-top: 2rem;
    }
    
    .subtext {
        font-size: 16px;
    }
    
    .img-wrapper {
        flex-direction: column;
        width: 80vw;
    }
    img {
        width: 100%;
    }
    
    .img-wrapper-content{
        padding: 1rem;
    }
    
    .articles {
        padding: 1rem 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }

    .card-articles {
        padding: 1rem 0;
    }
}