.hamburger-menu {
    /* margin-left: 1rem; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 0 1rem;
    margin-top: 1.5rem;
}

button {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
}

.Navbar-mobile {
    display: flex;
    justify-content: center;
    display: none;
}

.Navbar-ul-mobile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.navbar-link-mobile {
    float: right;
    width: 15vw;
    color: black;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    padding: .5rem;
}

/* Mobile */
@media (min-width: 200px) and (max-width: 415px) {

    .Navbar-ul-mobile {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem;
    }
}
