.Main-container {
    border: 2px solid blue;
    width: 100%;
    height: auto;
    
}

.Navbar {
    /* border: 1px solid rgba(0, 0, 255, 0.378); */
    display: flex;
    justify-content: center;
}

.Navbar-ul {
    display: flex;
    flex-direction: row;
}
.Navbar-li {
    padding: 0 2rem;
    list-style: none;
}

.Navbar-mobile {
    /* border: 1px solid rgba(0, 0, 255, 0.378); */
    display: flex;
    justify-content: center;
    display: none;
}

.Navbar-ul-mobile {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: grid;
    grid-template-columns: 40px 50px 50px 40px;
    grid-template-rows: 100px 100px;
    width: inherit;
    height: 90vh;
    /* border: 1px solid red; */
}

.projects {
    width: 20rem;
    height: 10rem;
    border: 1px solid green;
}