.Main-container {
    border: 2px solid blue;
    width: 100vw;
    height: 50vh;
}

.Navbar {
    border: 1px solid rgba(0, 0, 255, 0.378);
    display: flex;
    justify-content: center;
}

.Navbar-ul {
    display: flex;
    flex-direction: row;
}
.Navbar-li {
    padding: 0 2rem;
    list-style: none;
}